<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            {% for post in site.posts %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="post-entry">
                    <div class="image">
                        <img src="{{post.image}}" alt="{{post.title}}" class="img-fluid" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="text p-4">
                        <h2 class="h5 text-black"><a href="{{post.url}}">{{post.title}}</a></h2>
                        <span class="text-uppercase date d-block mb-3"><small>By SFA &bullet; {{post.date}}</small></span>
                        <p class="mb-0">{{post.excerpt}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</div> 




